@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

.inter {
	font-family: "Inter", sans-serif;
}

:root {
	--background: #ffffff;
	--foreground: #2b3441;
	--primary: #3273ec;
	--secondary: #344256;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-muted: #65758b;
	--color-border: #e1e7ef;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
}

.container {
	margin: auto;
	padding: 0 15px;
}

button {
	cursor: pointer;
}

.card-hover {
	@apply transition-all duration-300 hover:shadow-lg hover:-translate-y-1;
}
